@page "/driver"
@inject HttpClient _client

<h3>Drivers</h3>

<table class="table table-striped">
    <thead>
        <tr scope="col">#</tr>
        <tr scope="col">Name</tr>
        <tr scope="col">Racing Number</tr>
        <tr scope="col">Team</tr>
    </thead>

    <tbody>
        @*@foreach(var driver in drivers)
        {
            
        }*@
    </tbody>
</table>

@code {

}
